### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
node_modules/
dist/
npm-debug.log*

### JetBrains / local workspace ###
.idea/
*.iml

### Local packaging / backups ###
# awroadside-fire-work/
awroadside-fire-wp/
*.zip
2026-04-03/
